* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}
  	
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

body {
  width: 100%;
  height: 100%;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}
